<!DOCTYPE html>
<html ng-app="bayfilmApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App Name" %>">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", controller_name %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div ng-view>
    <%= yield %>
    </div>
  </body>
</html>